<form>
    <app-field [type]="'text'" [placeholder]="'Ingrese nombre'" [label]="'Nombre'" [required]="true"></app-field>
    <app-field [type]="'text'" [placeholder]="'Ingrese apellido'" [label]="'Apellido'" [required]="true"></app-field>
    <app-selection-field [label]="'Provincia'"></app-selection-field>
    <app-field [type]="'number'" [placeholder]="'Ingrese DNI'" [label]="'DNI'" [required]="true"></app-field>
    <app-field [type]="'text'" [placeholder]="'Ingrese teléfono'" [label]="'Teléfono'" [required]="true"></app-field>
</form>>