<div class="form-persona d-flex justify-content-center align-items-center" style="height: 100%;">
    <form class="form-persona__form d-flex flex-column justify-content-center p-3" style="width: 25%"
        *ngIf="provincias && provincias.length > 0">
        <app-field [type]="'text'" [placeholder]="'Ingrese nombre'" [label]="'Nombre'" [required]="true"
            [value]="persona?.nombre" [deshabilitado]="deshabilitado"></app-field>
        <app-field [type]="'text'" [placeholder]="'Ingrese apellido'" [label]="'Apellido'" [required]="true"
            [value]="persona?.apellido" [deshabilitado]="deshabilitado"></app-field>
        <app-selection-field [label]="'Provincia'" [opciones]="provincias" [value]="persona?.idProvincia"
            [deshabilitado]="deshabilitado"></app-selection-field>
        <app-field [type]="'number'" [placeholder]="'Ingrese DNI'" [label]="'DNI'" [required]="true"
            [deshabilitado]="deshabilitado" [value]="persona?.dni"></app-field>
        <app-field [type]="'text'" [placeholder]="'Ingrese teléfono'" [label]="'Teléfono'" [required]="true"
            [value]="persona?.telefono" [deshabilitado]="deshabilitado"></app-field>
    </form>
</div>